/* Styling for registration page container */
.registration-container {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Center the 'Register' title */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form fields and button styling */
form div {
  margin-bottom: 15px;
  color:#2980B9
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button styling */
button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
  text-align: center;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 0.9em;
  text-align: center;
}

/* Styling for the login link */
.login-link {
  text-align: center;
  margin-top: 15px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
